
.cardImg{
 margin: auto;
 height:200px;
 width:250px;
/*  overflow: hidden; */
}
.product{
    margin-left: 60px;
}
@media (max-width:1000px){
    .product{
        margin: auto;
    }
}
Button{
    margin: 2px;
}
